@model bms.ViewModels.MemberShare.MemberShareVm

<div class="container py-5">
    <div class="row">
        <div class="col-md-6 col-lg-5">
           
            <h2 class="fw-light mb-4">View Share Details</h2>

            <form asp-action="GetMemberSharesDetails" method="get" class="needs-validation" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <!-- Member Selection -->
                <div class="mb-3">
                    <label asp-for="MemberId" class="form-label">Select Member</label>
                    <select asp-for="MemberId" name="memberId" class="form-control">
                        <option value="">-- Select Member --</option>
                        @foreach(var member in Model.MemberList)
                        {
                            <option value="@member.MemberId">@member.FullName</option>
                        }
                    </select>
                    <span asp-validation-for="MemberId" class="text-danger small"></span>
                </div>

               

                <!-- Buttons -->
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-primary me-2">View Share Details</button>
                </div>
            </form>
        </div>
    </div>
</div>